@model Categories
@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>¿Desea Eliminar el Registro?</h3>

<legend>Categories</legend>

<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">@Html.DisplayNameFor(model => model.CategoryID)</label>
    <label for="exampleFormControlInput1" class="form-label">@Html.DisplayFor(model => model.CategoryID)</label>
</div>

<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">@Html.DisplayNameFor(model => model.CategoryName)</label>
    <label for="exampleFormControlInput1" class="form-label">@Html.DisplayFor(model => model.CategoryName)</label>
</div>

<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">@Html.DisplayNameFor(model => model.Description)</label>
    <label for="exampleFormControlInput1" class="form-label">@Html.DisplayFor(model => model.Description)</label>
</div>

@using (Html.BeginForm())
{
<div class="col-auto">
    <input type="submit" class="btn btn-primary" value="Delete" /> |
    @Html.ActionLink("Retornar a Index", "Index")
</div>
}



