@model List<Lab12.Models.Persona>
@{
    ViewBag.Title = "Listar";
}

<h2>Listar</h2>

<table class="table table-striped">
    <tr>
        <th>PersonaID</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Fecha Nac.</th>
        <th>Direccion</th>
        <th>Email</th>
    </tr>
    @foreach (var persona in Model)
    {
        <tr>
            <td>@persona.PersonaID</td>
            <td>@persona.Nombre</td>
            <td>@persona.Apellido</td>
            <td>@persona.FechaNac</td>
            <td>@persona.Direccion</td>
            <td>@persona.Email</td>
        </tr>

    }
</table>